<h1>{{ currentLang === 'NL' ? 'Hallo' : currentLang === 'EN' ? 'Hello' : currentLang === 'RU' ? 'Привіт' : 'السلام عليكم' }}</h1>
<p class="sub">{{ text }}</p>

<div class="cardsiez">
  <div *ngFor="let title of titlesList; let i = index"
       [ngStyle]="{
         'background-color': getRowColor(i),
         'width': '70%',
         'aspect-ratio': '1 / 1',
         'display': 'flex',
         'flex-direction': 'column',
         'justify-content': 'center',
         'align-items': 'center',
         'border-radius': '10px',
         'box-shadow': '0 4px 6px rgba(0, 0, 0, 0.1)',
         'transition': 'transform 0.3s ease, box-shadow 0.3s ease'
       }"
       class="card" (click)="openFullScreen(i)">
    <img [src]="images[i]" style="width: 50px; height: 50px;">
    <p style="margin-top: 10px; text-align: center; font-size: 14px; font-weight: bold;">{{ title }}</p>
  </div>
</div>

<div *ngIf="isFullScreen" class="fullscreen-modal">
  <div class="fullscreen-content">
    <iframe
      src="http://34.248.74.38:8501/"
      width="800px"
      height="800px"
      style="border: none;"
    ></iframe>
    <button class="close" (click)="closeFullScreen()">Close</button>
  </div>
</div>


<style>

</style>
